Applications/
Applications/*
Wallpaper/
Packages/
Output/
Scripts/
outset/
.idea/
Logs/
Other/Downloads/
*.iml

*.pkg
*.nbi
*.dmg

.DS_Store
Other/tmp
!Other/Scripts

!Packages/CreateAdmin.pkg
Other/Helpers/pycreateuserpkg
Other/Build/Applications/*
Other/Build/Applications/
Configuration/builder.conf
Products/
