<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.autonbi.SetDesktopWallpaper</string>
	<key>ProgramArguments</key>
	<array>
		<string>sudo</string>
		<string>-H</string>
		<string>-u</string>
		<string>admin</string>
	    <string>sh</string>
		<string>/Library/Application Support/AutoNBI/Scripts/set-user-dock.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
